html {
    --ink: hsla(0, 0%, 100%);
    --bg-their: hsla(212, 80%, 48%);
    --bg-our: hsla(1, 80%, 48%);
}

.gap-8 {
    gap: 8px;
}

body {
    margin: 0;
    padding: 0;
}

main {
    min-height: 100svh;
    box-sizing: border-box;
}

.flex {
    display: flex;
}

.flex-basis-50percent {
    flex-basis: 50%;
}

.flex-grow {
    flex-grow: 1;
}

.media-800-flex {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 800px) {
    .media-800-flex {
        flex-direction: row;
    }
}

#preview {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

#preview li {
    padding: 8px 10px;
    border-radius: 24px 8px;
    margin: 0;
    color: var(--ink);
    max-width: 80%;
}

li.our {
    align-self: flex-start;
    background: var(--bg-our);
}

li.their {
    align-self: flex-end;
    background: var(--bg-their);
}

#preview li img,
#preview li video {
    max-width: 80%;
    height: auto;
}
