
.icon-send:before { content: '\e800'; } /* '' */
.icon-image:before { content: '\e801'; } /* '' */
.icon-left:before { content: '\e82c'; } /* '' */
.icon-menu:before { content: '\e82d'; } /* '' */
.icon-dot:before { content: '\e830'; } /* '' */
