
.icon-send:before { content: '\e800'; } /* '' */
.icon-image:before { content: '\e801'; } /* '' */
.icon-new:before { content: '\e802'; } /* '' */
.icon-save:before { content: '\e806'; } /* '' */
.icon-import:before { content: '\e80d'; } /* '' */
.icon-left:before { content: '\e82c'; } /* '' */
.icon-menu:before { content: '\e82d'; } /* '' */
.icon-dot:before { content: '\e830'; } /* '' */
.icon-github:before { content: '\f09b'; } /* '' */
